<h3>    <%=pageTitle  %> </h3>

<% for( let index = 0; index < deals.length; index++ ) { %>
<div class="product">
    <h2 class="product-title"><%= deals[index].title %> <span class="product-price" style="float: right;">PKR <%= deals[index].price %></span></h2>
    <button class="btn btn-secondary">View Details</button>
    <a href="/deals/add-to-cart/<%= deals[index]._id %>" class="btn btn-secondary">Add To Cart</a>
</div>
<% } %>