<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/books">Books</a>
        </li>
      <li class="breadcrumb-item active" aria-current="page"><%= book.title %></li>
    </ol>
  </nav>
<h1><%= book.title %></h1>
<p><%= book.description %></p>