<h1>Login</h1>
<form action="" method="post">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input class="form-control" type="text" id="email" name="email" value="usman.akram@gmail.com"/>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input class="form-control" type="password" id="password" name="password" value="usman"/>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</form>