
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h1>Register</h1>
            <form action="" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input id="name" type="text" class="form-control" name="name" value="Usman Akram">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" type="text" class="form-control" name="email" value="usman.akram@gmail.com">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">password</label>
                    <input id="password" type="password" class="form-control" name="password" value="usman">
                </div>
                <input type="submit" class="btn btn-primary">
            </form>
        </div>
        <div class="col-2"></div>
    </div>
    

    
