<html>
    <head>
        <link rel="stylesheet" href="/css/mystyles.css">
        <script src="/js/myscript.js"></script>
    </head>
    <body>
        <%- include('./partials/menu') %>
        <h1>Hello From Html File</h1>
    </body>
</html>